<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>IsoTool</string>
    <key>CFBundleDisplayName</key>
    <string>IsoTool</string>
    <key>CFBundleIdentifier</key>
    <string>com.seuprojeto.isotool</string>
    <key>CFBundleExecutable</key>
    <string>IsoTool</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>IsoToolIcon</string> <!-- sem extensão .icns -->
</dict>
</plist>